body
{
    margin: 0;  
    padding: 0;  
    background-color:#ef40ffba;  
    font-family: 'Arial';  
}

.container
{
    width: 382px;  
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 450px;  
    padding: 80px;  
    background: #7af5da;  
    border-radius: 15px ;  
    margin-top: 100px;
    //margin-bottom: 600px;
}
.container input[type="submit"]{
    width: 200px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(12, 11, 11);  
}
.label{
    text-align: center;
}